<footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Snik.Shop</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                             <a class="text-decoration-none" href="https://www.google.com/maps/place/%D1%83%D0%BB.+%D0%9A%D1%80%D1%83%D0%BF%D1%81%D0%BA%D0%BE%D0%B9+21,+%D0%9C%D0%B8%D0%BD%D1%81%D0%BA/@53.8593387,27.6229777,17z/data=!3m1!4b1!4m5!3m4!1s0x46dbd1f94e8fe917:0xc263c040e027171b!8m2!3d53.8593387!4d27.6251717!5m1!1e1?hl=ru-RU">Krupskoy 21, 34-A</a>

                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:+375-29-166-83-33">+375291668333</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="yaraul1@yandex.by">yaraul1@yandex.by</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Luxury</a></li>
                        <li><a class="text-decoration-none" href="#">Sport Wear</a></li>
                        <li><a class="text-decoration-none" href="#">Men's Shoes</a></li>
                        <li><a class="text-decoration-none" href="#">Women's Shoes</a></li>
                        <li><a class="text-decoration-none" href="#">Popular Dress</a></li>
                        <li><a class="text-decoration-none" href="#">Gym Accessories</a></li>
                        <li><a class="text-decoration-none" href="#">Sport Shoes</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="{% url 'home' %}">Home</a></li>
                        <li><a class="text-decoration-none" href="#">About Us</a></li>
                        <li><a class="text-decoration-none" href="text-decoration-none" href="https://www.google.com/maps/place/%D1%83%D0%BB.+%D0%9A%D1%80%D1%83%D0%BF%D1%81%D0%BA%D0%BE%D0%B9+21,+%D0%9C%D0%B8%D0%BD%D1%81%D0%BA/@53.8593387,27.6229777,17z/data=!3m1!4b1!4m5!3m4!1s0x46dbd1f94e8fe917:0xc263c040e027171b!8m2!3d53.8593387!4d27.6251717!5m1!1e1?hl=ru-RU">Shop Locations</a></li>
                        <li><a class="text-decoration-none" href="#">Contact</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/in/yaroslav-yuferev-76a89922b/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Project by
                            <a rel="sponsored" href="https://www.linkedin.com/in/yaroslav-yuferev-76a89922b/" target="_blank">Yaroslav Yuferev</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>